    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Sobre o Workshop</h2>
              <br/>
                <p>O sistema mágico de culto criado por Austin Osman Spare</p>
                <p>O workshop visa além de ensinar a teoria e prárica do ZosKia Cultus também apresentar a genialidade artística e a natureza mágica desde a mais nova idade de seu criador até a popularização com o movimento da Magia do Caos.</p>
                <p>Aprenda a utilizar um dos sistemas de magia mais pragmáticos, objetivos e eficazes para realizar desejos aqui e agora.</p>
                <p>Todos os participantes sairão do curso representação pessoal, alfabeto de desejo para contato e/ou documentação do subconsciente além ddomínio de técnica de criação de servidores astrais.</p>
                <p>Venha conhecer os conceitos de Atavismo e Nova Sexualidade que resultam no Auto-Amor que é a comunhão entre o êxtase e a morte.</p>
                <br/>
              </div>
        </div>
    </section>
